{% extends "base/site_base_dch.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_ui_tags %}
{% block title %} {% trans "Disaster Impact Assessment" %}{% endblock %}

{% block maincontent %}
    {% include "includes/bread_crumbs.html" %}
    <div id="message" class="row" style="background-color: orangered">
        <span style="">  {{ msg }} </span>
    </div>

        <div class="row">
        <div class="col-md-2" style="padding-left: 5px; padding-right: 5px;">
            {% include "includes/side_nav.html" %}
        </div>


        {% column md="10" %}
            <div id="main_content" class="panel panel-primary cc-panel">
                <div class="panel-heading" style="background-color: #4e5944"><h4 class="text-center" style="color: #FFFFff">Mark Location of {{ project_name }}</h4>
               </div>

                    {% include "include/jqxToolbar.html" %}
                    {% include "include/map2d.html" %}
                    {% include "include/waiting_dialog.html" %}

            </div>
        {% endcolumn %}

{#        {% column md="10" %}#}
{#          <div id="main_content" class="panel panel-primary cc-panel">#}
{#                <div class="panel-heading" style="background-color: #4e5944"><h4 class="text-center" style="color: #FFFFff">Section 3</h4>#}
{#                <h5 class="text-center" style="color: #FFFFff">Risk Assessment</h5></div>#}
{##}
{#                    <div id="grid"></div>#}
{#            </div>#}
{##}
{#        {% endcolumn %}#}

    </div>

{% endblock %}

{% block extra_script %}

    <script type="text/javascript" src="{% static "vendor/jsxcompressor/jsxcompressor.min.js" %}"></script>
    {#    <script type="text/javascript" src="{% static "vendor/jqwidgets-ver5.6.0/jqx-all.js" %}"></script>#}
    <script src="{% static "ferrp/site_selection/js/SiteSelectionModel.js" %}"></script>
    <script type="text/javascript" src="{% static "ferrp/dia/js/location.js" %}"></script>
    <script type="text/javascript" src="{% static "js/includes/sideNavManager.js" %}"></script>
    {#    <link rel="stylesheet" href="{% static "css/jqx.base.css" %}"/>#}
    <link rel="stylesheet" href="{% static "css/style4.css" %}"/>



    <script>
        var minHeight = 490;
        var mapInfo = {};
        mapInfo.csrfToken = '{{ csrf_token }}';
        var project_id = '{{ project_id }}';
        mapInfo.project_id = '{{ project_id }}';
        mapInfo.groupLayers = [];
        var groupLayers ={{ info.group_layers|safe }};
        if (groupLayers && groupLayers !== '') {
            mapInfo.groupLayers = groupLayers;
        }
                mapInfo.extent = [6734829.193000, 2692598.219300, 8849899.518100, 4509031.393100];
{#        mapInfo.extent = [8142191.23975947, 3731519.02267531, 8218330.1735048, 3808567.9675389];#}
        mapInfo.url_wms_map = '{% url "wms_get_map" %}';
        $(document).ready(function () {
            setViewportItemsHeight();
            var mhvraModel = new MHVRAModel(mapInfo);
            mhvraModel.initialize();
            var section = '{{ section }}';
            var sideNavManager = new SideNavManager();
            sideNavManager.manageSections(section);
        });
        $(window).resize(function () {
            setViewportItemsHeight();
        });
        var setViewportItemsHeight = function () {
            rem_height = getViewportHeight();
            $('#map').height(rem_height - 60);
            {#            $('#grid').height(rem_height-200);#}

            $('.cc-panel').height(rem_height);
            $('.panel-body').height(rem_height);
        };
        var getViewportHeight = function () {
            var cushion = 11;
            var width = $(window).width();
            var height = $(window).height();
            var navbar_height = $("#base_nav").height();
            var header_height = $("#header").height();
            var footer_heght = $("#footer").height();
            var rem_height = height - (navbar_height + header_height + footer_heght + cushion);
            rem_height = (rem_height > minHeight ? rem_height : minHeight);
            return rem_height;
        };
    </script>

{% endblock %}