{% load static %}
<div id="jqxToolBar_3d"></div>
<script>
    var icons = {
        "initExtent": '<img src="{% static "ferrp/icons/mapicons/ZoomFullExtent.png" %}" width=100% height=100%></img>',
        "camera": '<img src="{% static "ferrp/icons/mapicons/camera.png" %}" width=100% height=100%></img>',
    }
</script>
<script type="text/javascript" src="{% static "vendor/jqwidgets-ver5.6.0/jqxtoolbar.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/jqwidgets-ver5.6.0/jqxbuttons.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/jqwidgets-ver5.6.0/jqxtooltip.js" %}"></script>
<script type="text/javascript" src="{% static "ferrp/map_3d/js/JqxToolbarModel_3d.js" %}"></script>