{% extends "base/site_base_dch.html" %}
{% load static %}
{% block maincontent %}
    <div class="col-md-3 col-md-offset-4" style="background-color: #fffbdf">
        <form method="post" action="">
            {% csrf_token %}
            <div class="row" align="center">
                <div class="col-md-12">
                    {#                     <img src={% static "assets/img/FERRP-logo-footer.png" %} height="35px"/>#}
                    <img class="img-circle" id="img_logo" src={% static "assets/img/piupnd.png" %} height="200px"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                               name="password">
                    </div>
                </div>
            </div>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-md-12 ">Login</button>
                        <button style="margin-top: 10px !important;" type="button" class="btn  col-md-12"><a
                                href="/accounts/linkedin/login/?process=login"><i style="font-size:30px" class="fa fa-linkedin-square"></i>  Login
                            with LinkedIn</a></button>
                        <button style="margin-top: 10px !important;" type="button" class="btn col-md-12"><a
                                href="/accounts/google/login/?process=login"><i style="font-size:30px" class="fa fa-google-plus-square"></i>  Login
                            with Google</a></button>
                    </div>
                </div>
            </div>
            {% if next %}
                {#            <input class="btn-success" type="submit" value="login"/>#}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% else %}
                <input type="hidden" name="next" value={% url "home_dch" %}>
            {% endif %}
            {# Assumes you setup the password_reset view in your URLconf #}
            <div class="checkbox"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="container col-md-12"><a href="{% url 'password_reset' %}">Forget
                            Password?</a></label>
                    </div>
                </div>
            </div>

        </form>


    </div>
{% endblock %}
