{% extends "base/base_dch.html" %}
{% load i18n %}
{#{% block extra_tab %}#}
{#    <li id="nav_layers">#}
{#        <a href="{% url "layer_browse" %}">{% trans "Layers" %}</a>#}
{#    </li>#}
{#    <li id="nav_maps">#}
{#        <a href="{% url "map_browser" %}">{% trans "Maps" %}</a>#}
{#    </li>#}
{#    <li id="nav_maps">#}
{#        <a href="{% url "document_browser" %}">{% trans "Documents" %}</a>#}
{#    </li>#}
{#    <li id="nav_maps">#}
{#        <a href="/admin_dch/projects/projects/">{% trans "Projects" %}</a>#}
{#    </li>#}
{#    <li id="nav_application">#}
{#        <a class="dropdown-toggle a-div" role=button data-toggle="dropdown">#}
            {#                                <div class="dropdown-toggle a-div" role=button data-toggle="dropdown">#}
{#            Projects<span class="caret"></span>#}
            {#                            </div>#}
{#        </a>#}
{#        <ul class="dropdown-menu">#}
{#            <li id="nav_view_projects">#}
{#                <a href="{% url "proj_view_projects_data" %}?app=flood_analysis">View Project Data</a>#}
{#            </li>#}
{#            <li id="nav_upload_projects">#}
{#                 <a href="/admin_dch/projects/projects/">{% trans "Upload Projects Data" %}</a>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}
    {#    <li id="nav_documents">#}
    {#        <a href="{% url "document_browse" %}">{% trans "Documents" %}</a>#}
    {#    </li>#}
    {#    <li id="nav_people">#}
    {#        <a href="{% url "profile_browse" %}">{% trans "People" %}</a>#}
    {#    </li>#}
    {#    <li id="nav_groups">#}
    {#        <a href="{% url "group_list" %}">{% trans "Groups" %}</a>#}
    {#    </li>#}
{#{% endblock %}#}