{% extends "base/base_dch.html" %}
{% load static %}
{% block title %} Irrigation{% endblock title %}

{% block extra_style %}
    <link rel="stylesheet" href=" {% static "vendor/ext-6.2.0/build/classic/theme-gray/resources/theme-gray-all.css" %}"/>
{% endblock %}

{% block extra_script %}
    <script>
        var table_data ={{ mail_data|safe }};
        var geojson_data ={{ geojson_data|safe }};
        var level ={{ data_type }};
        var token = '{{ csrf_token }}';

    </script>
    <script type="text/javascript" src="{% static "vendor/ext-6.2.0/build/ext-all.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/highmaps/highmaps.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/highmaps/modules/data.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/highmaps/modules/exporting.js" %}"></script>
    <script type="text/javascript" src="{% static "irrigation/js/Arz/MailModels/CAMapDataModel.js" %}"></script>

{% endblock %}

{% block extra_tab %}
    <li><a href="{% url "irrigation_home" %}">Commanded Area</a></li>
    <li><a href="{% url "irrigation_canals" %}">Canals</a></li>
    <li><a href="{% url "irrigation_dams" %}">Dams</a></li>
    <li><a href="{% url "irrigation_gw" %}">Ground Water</a></li>
{% endblock %}

{% block maincontent %}

    <div class="container">
        <div id="irrigationDashboard" class="row" style="height: 90%;"></div>
    </div>
{% endblock  %}
