<div class="row" style="margin-bottom: 5px !important;">
    <div class="btn-group btn-breadcrumb breadcrumb-info">
        <a href="{% url "view_dia_project" %}" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
        <a href="/dia/view_mark_location?section=1&project_id={{ project_id }}"
           class="btn btn-info visible-lg-block visible-md-block">1. Project Location</a>
        <a href="/dia/view_dia_add_data?section=1&project_id={{ project_id }}"
           class="btn btn-info visible-lg-block visible-md-block">2. Project Description</a>
        <a href="/dia/view_dia_add_data?section=2&project_id={{ project_id }}"
           class="btn btn-info visible-lg-block visible-md-block">3. Hazard Identification</a>
        <a href="/dia/view_mhvra_page?project_id={{ project_id }}"
           class="btn btn-info visible-lg-block visible-md-block">4. Analysis</a>
        <a href="#" class="btn btn-info visible-lg-block visible-md-block">5. Financial Plan</a>
        <a href="#" class="btn btn-info visible-lg-block visible-md-block">6. Work Plan</a>
        <a href="/dia/view_mitigation_design_plan?project_id={{ project_id }}"
           class="btn btn-info visible-lg-block visible-md-block">7. Mitigation Design and Plan</a>
        <a href="/dia/view_section_five?project_id={{ project_id }}"
           class="btn btn-info visible-lg-block visible-md-block">8. Conclusion /Remarks</a>
        <a href="#" class="btn btn-info visible-lg-block visible-md-block">9. Download PDF</a>
    </div>
</div>

