{% load static %}
<div id="jqxToolBar"></div>
<script>
    var icons = {
        {#            "addLayer": "<i class='fa fa-lg fa-plus'></i>",#}
        "saveMap": '<img src="{% static "ferrp/icons/mapicons/Save-as-icon.png" %}" width=100% height=100%></img>',
        "setMapPermission": '<img src="{% static "ferrp/icons/mapicons/documents-icon.png" %}" width=100% height=100%></img>',
        "addLayer": '<img src="{% static "ferrp/icons/mapicons/Icon_add.png" %}" width=100% height=100%></img>',
        {#            "fullExtent": "<i class='fa fa-lg fa-globe'></i>",#}
        "fullExtent": '<img src="{% static "ferrp/icons/mapicons/globe.png" %}" width=100% height=100%></img>',
        "pan": '<img src="{% static "ferrp/icons/mapicons/icon_pan.gif" %}" width=100% height=100%></img>',
        "zoom2Rect": '<img src="{% static "ferrp/icons/mapicons/icon_zoomrect.gif" %}" width=100% height=100%></img>',
        "zoomIn": '<img src="{% static "ferrp/icons/mapicons/icon_zoomin.gif" %}" width=100% height=100%></img>',
        "zoomOut": '<img src="{% static "ferrp/icons/mapicons/icon_zoomout.gif" %}" width=100% height=100%></img>',
        "zoom2Prev": '<img src="{% static "ferrp/icons/mapicons/arrow_left.png" %}" width=100% height=100%></img>',
        "zoom2Next": '<img src="{% static "ferrp/icons/mapicons/arrow_right.png" %}" width=100% height=100%></img>',
        "zoom2Selection": '<img src="{% static "ferrp/icons/mapicons/featureExtent.png" %}" width=100% height=100%></img>',
        "clearSelection": '<img src="{% static "ferrp/icons/mapicons/Clear.png" %}" width=100% height=100%></img>',
        "identifier": '<img src="{% static "ferrp/icons/mapicons/icon_information.png" %}" width=100% height=100%></img>',
        "query": '<img src="{% static "ferrp/icons/mapicons/sql_icon.png" %}" width=100% height=100%></img>',
        "spatialQuery": '<img src="{% static "ferrp/icons/mapicons/geospatial_earch.png" %}" width=100% height=100%></img>',
        "profileExtractor": '<img src="{% static "ferrp/img/irrigation/drawline.png" %}" width=100% height=100%></img>',
        "shortestPath": '<img src="{% static "ferrp/icons/mapicons/sPath.png" %}" width=100% height=100%></img>',
        "ThreeD": '<img src="{% static "ferrp/icons/mapicons/3d_16.png" %}" width=100% height=100%></img>',
        "geoStatistics": '<img src="{% static "ferrp/icons/mapicons/gstats.png" %}" width=100% height=100%></img>',
        "weather": '<img src="{% static "ferrp/icons/mapicons/sPath.png" %}" width=100% height=100%></img>',
        "heatmap": '<img src="{% static "ferrp/icons/mapicons/map.png" %}" width=100% height=100%></img>',
        "animation": '<img src="{% static "ferrp/icons/mapicons/clock.png" %}" width=100% height=100%></img>',
        "ssa": '<img src="{% static "ferrp/icons/mapicons/query.png" %}" width=100% height=100%></img>',
        "location": '<img src="{% static "ferrp/icons/mapicons/location.png" %}" width=100% height=100%></img>',
        "sms": '<img src="{% static "ferrp/icons/mapicons/sms.png" %}" width=100% height=100%></img>',
        "mhvra_location": '<img src="{% static "ferrp/icons/mapicons/location.png" %}" width=100% height=100%></img>'
    }
</script>
<script src="{% static "ferrp/js/JqxToolbarModel.js" %}"></script>
