<div id="temperature_legend" style="display:none;background-color:ghostwhite;">
    <div class="legend-bottom legend-left" style=" position:absolute; bottom: 35px;">
        <div class="legend-control-color-scale legend-control"
             style="display: block; background: none; box-shadow: none; border-width: 0px;">
            <div class="legend-control-color-scale-line"
                 style="width: 300px; background-image: none; position: relative; bottom: 15px; right: -15px; border-width: 0px;">
                <div class="legend-control-color-scale legend-control" style="display: block; width: 360px;">
                    <div class="scale-value " style="margin-left: 10px;border:0">
                        <span>Temp</span></div>
                    <div class="legend-control-color-scale-line"
                         style="background-image: linear-gradient(to right, rgb(159, 85, 181) 0%, rgb(44, 106, 187) 8.75%, rgb(82, 139, 213) 12.5%, rgb(103, 163, 222) 18.75%, rgb(142, 202, 240) 25%, rgb(155, 213, 244) 31.25%, rgb(172, 225, 253) 37.5%, rgb(194, 234, 255) 43.75%, rgb(255, 255, 208) 50%, rgb(254, 248, 174) 56.25%, rgb(254, 232, 146) 62.5%, rgb(254, 226, 112) 68.75%, rgb(253, 212, 97) 75%, rgb(244, 168, 94) 82.5%, rgb(244, 129, 89) 87.5%, rgb(244, 104, 89) 93.75%, rgb(244, 76, 73) 100%); width: 300px; float: right;">
                        <div class="scale-value scale-min-value"><span> -5 °C </span></div>
                        <div class="scale-value scale-avg-value" style="left:50%"><span> 0 °C </span></div>
                        <div class="scale-value scale-max-value"><span> 40 °C </span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="precipitation_legend" style="display:none; background-color:ghostwhite;">
    <div class="legend-bottom legend-left" style=" position:absolute; bottom: 35px;">
        <div class="legend-control-color-scale legend-control"
             style="display: block; background: none; box-shadow: none; border-width: 0px;">
            <div class="legend-control-color-scale-line"
                 style="width: 300px; background-image: none; position: relative; bottom: 15px; right: -15px; border-width: 0px;">
                <div class="legend-control-color-scale legend-control" style="display: block; width: 360px;">
                    <div class="scale-value " style="margin-left: 10px;border:0">
                        <span>Rain</span></div>
                    <div class="legend-control-color-scale-line"
                         style="background-image: linear-gradient(to right, rgba(172, 170, 247, 0) 0%, rgba(172, 170, 247, 0.4) 0.5%, rgba(141, 138, 243, 0.9) 5%, rgb(112, 110, 194) 10%, rgb(86, 88, 255) 20%, rgb(91, 93, 177) 50%, rgb(62, 63, 133) 100%); width: 300px; float: right;">
                        <div class="scale-value scale-min-value"><span> 0mm </span></div>
                        <div class="scale-value scale-avg-value" style="left:50%"><span>100mm</span></div>
                        <div class="scale-value scale-max-value"><span> 200mm</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>