{% load static %}
<div id="statistics">
    <div id="treegrid"></div>
    {#    <div id="initMsg" style="visibility: hidden">click on#}
    {#        <div id="staticon" style="width: 16px; height: 16px;"></div>#}
    {#        icon and draw a point on map#}
    {#        to view statistics#}
    {#    </div>#}
    {#    <div class="form-group">#}
    {#        <button id="btnSendSMS" class="btn btn-warning center-block">#}
    {#            Send SMS#}
    {#        </button>#}
    {#    </div>#}

</div>
<script type="text/javascript" src="{% static "ferrp/maps/js/Stats_Model.js" %}"></script>
<script>
    $(document).ready(function () {
        {#        $("#initMsg").css('visibility', 'visible');#}
        {#        var elem = icons.geoStatistics;#}
        {#        $("#staticon").append(elem);#}
        {##}
        {#        $("#btnSendSMS").click(function () {#}
        {#            alert("SMS Button")#}
        {#        })#}
    });
</script>