{% extends "base/site_base_dch.html" %}
{% load static %}
{% load bootstrap3 %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static "ferrp/layers/css/upload.css" %}"/>
{% endblock %}
{% block maincontent %}
    <br/>
    <div id=" row">
        <div id="uploadFileFormDiv" class="container singleborder">
            <div id="row">
                {% include "include/progressbar.html" %}
                <form id="uploadFileForm" method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="project_id" name="project_id" type="hidden" value="{{ project_id }}"/>
                    <input id="dir_id" name="dir_id" type="hidden" value="{{ dir_id }}"/>
                    {% bootstrap_form form %}
                    {% if  action  == 'new' %}
                        <button id="btnSubmit" type="submit" class="btn btn-primary btn-block btn-lg"
                                style="font-size: 1.2em">
                            {% bootstrap_icon "cloud-upload" %}
                            Upload
                        </button>
                    {% else %}
                        <button id="btnExistingModel" type="button" disabled="true"
                                class="btn btn-primary btn-block btn-lg" style="font-size: 1.2em">
                            {% bootstrap_icon "cloud-upload" %}
                            Add to Existing Model
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock maincontent %}
{% block extra_script %}
    <script>
        process_raster_url = "{% url "process_raster" %}";
        check_layer_name_url = "{% url "check_layer_name" %}";
        view_layer_url = "{% url "view_layer" %}"
        token = '{{ csrf_token }}'
        progressbarModel = new ProgressBarModel();
        {#        progressbarModel = new ProgressBarModel();#}
    </script>
    <script src="{% static "ferrp/layers/js/rst_upload.js" %}"></script>
{% endblock %}