{% extends "base/base_adp.html" %}
{% load i18n %}
{% load static %}
{% block title %}ADP{% endblock %}
{% block extra_style %}
    <link rel="stylesheet" href=" {% static "vendor/font-awesome-4.7.0/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href=" {% static "vendor/lib/css/bootstrap-slider.css" %}" />
    <link rel="stylesheet" href=" {% static "vendor/google-font/css/Lato.css" %}" />
    <link rel="stylesheet" href=" {% static "vendor/orb/orb.min.css" %}" />
    <link rel="stylesheet" href=" {% static "vendor/jqwidgets-ver5.1.0/jqwidgets/styles/jqx.base.css" %}" />
    <link rel="stylesheet" href=" {% static "vendor/flexmonster/Pivot Table for JSON/client/flexmonster/theme/teal/flexmonster.css" %}" />
    <link rel="stylesheet" href=" {% static "vendor/bootstrap/css/sb-admin.css" %}" />
    <link rel="stylesheet" href=" {% static "adp/css/adp.css" %}" />
    <style type="text/css">
        body, html {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            overflow: auto;
        }
    </style>
{% endblock %}
{% block extra_IEstyle %}
{% endblock %}
{% block extra_tab %}

{% endblock %}
{% block extra_rightTab %}
{#    <li>#}
{#        <select id="lstYears" name="lstYears" class="form-control" style="margin-top: 10px;">#}
{#            <option value="-1">All Years</option>#}
{#        </select>#}
{#    </li>#}
    <li><a href="#" class='btn' data-bind="click:setDimensionModelingContents"><span
            class="glyphicon glyphicon-log-in"></span>Dimension Model</a></li>
    <li><a href="#" class='btn' data-bind="click:setOverviewContents"><span class="glyphicon glyphicon-log-in"></span>
        ADP Schemes</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-tasks">
            <li><a href="javascript:cacheData()"><i class="fa fa-cloud fa-fw"></i> Cache Data</a></li>
            <li class="divider"></li>
            <li><a href="javascript:clearChache()"><i class="fa fa-cloud fa-fw"></i> Clear Cache</a></li>
            <li class="divider"></li>
        </ul>
    </li>
{% endblock %}
{% block middle %}
    <div class="modal fade bs-example-modal-sm" id="myPleaseWait" name="myPleaseWait" tabindex="-1"
         role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-time">
                        </span>Please Wait
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info
                        progress-bar-striped active"
                             style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal ends Here -->

{% endblock %}

{% block maincontent %}
{#    <div id="mainpanel" class="panel panel-primary">#}
{#        <div id="mainpnlheader" class="panel-heading"></div>#}
        <div id="mainpnlbody" class="panel-body"></div>
{#    </div>#}
{% endblock %}

{% block extra_script %}
    <script src="{% static "vendor/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "vendor/jquery-ui-1.12.1/jquery.ui.touch-punch.min.js" %}"></script>
    <script src="{% static "vendor/jquery-ui-1.12.1/waitingfor.js" %}"></script>
    <script src="{% static "vendor/flexmonster/Pivot Table for JSON/client/flexmonster/flexmonster.js" %}"></script>

    <script type="text/javascript" src="{% static "vendor/lib/js/bootstrap-slider.js" %}"></script>
    <script src="{% static "vendor/Knockout-3.4.2/Knockout.js" %}"></script>
    <script src="{% static "vendor/underscore-1.8.3/underscore-min.js" %}"></script>
    <script src="{% static "vendor/jqwidgets-ver5.1.0/jqwidgets/jqx-all.js" %}"></script>
    <script src="{% static "vendor/jqwidgets-ver5.1.0/jqwidgets/jqxtabs.js" %}"></script>
    <script src="{% static "vendor/jsxcompressor/jsxcompressor.min.js" %}"></script>
    <script src="{% static "js/adp/DimensionModel.js" %}"></script>
    <script src="{% static "js/adp/AnalysisModel.js" %}"></script>
    <script src="{% static "js/AdpAnalysisVM.js" %}"></script>

{% endblock %}